.Meg1 {
    color:blue;
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
} 
.Meg2 {
    color:purple;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}